 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        height: 100vh;
        background-color: black;
        width: 100%;
      }


      .anjali{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .digitalClock {
        height: 300px;
        width: 500px;
        background-image: linear-gradient(white,rgb(223, 183, 81), transparent);
        border: 3px dotted goldenrod;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        font-weight: 600;
        border-radius: 10px;
        background-clip: text;
        color: transparent;
      }
      .box1Bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
      }
      .btnBox {
        margin-top: 10px;
      }
      button {
        padding: 10px 35px;
        cursor: pointer;
      }
      input {
        padding: 10px 20px;
        font-size: 1.2rem;
      }

      button:nth-child(1) {
        background-color: mediumvioletred;
        outline: none;
        border-radius: 10px;
        border: 1px double lightyellow;
      }

      button:nth-child(1):hover {
        background-color: lightgreen;
      }

      button:nth-child(2) {
        background-color: rgb(107, 57, 208);
        outline: none;
        border-radius: 10px;
        border: 1px double lightyellow;
      }

      button:nth-child(2):hover {
        background-color: lightcoral;
      }
      /* *********************************************************************************** */

      .analogClock {
        border: 2px solid goldenrod;
        border-radius: 100%;
        height: 330px;
        width: 330px;
        position: absolute;
        /* right:0; */
        margin-left: 30px;
        background-image: url(https://png.pngtree.com/png-clipart/20220708/ourmid/pngtree-clock-face-no-hands-big-roboto-font-new-png-image_5781616.png);
        background-size: 100% 100%;
        position: relative;
        background-color: white;
      }

      .min {
        position: absolute;
        width: 9px;
        border-radius: 100%;
        height: 115px;
        background-color: #070707;
        left: 50%;
        bottom: 50%;
        transform: translateX(-50%);
        transform-origin: bottom;
      }

      .second {
        position: absolute;
        width: 7px;
        border-radius: 100%;
        height: 120px;
        background-color: red;
        left: 50%;
        bottom: 50%;
        transform: translateX(-50%);
        transform-origin: bottom;
      }

      .hr {
        position: absolute;
        width: 9px;
        border-radius: 50%;
        height: 107px;
        background-color: blue;
        left: 50%;
        bottom: 50%;
        transform: translateX(-50%);
        transform-origin: bottom;
      }

      .pointer {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: black;
        position: absolute;
        left: 50%;
        top: 52%;
        transform: translate(-50%, -50%);
      }
      /* *********************************************************************************/
           
      .btnSwap{
        cursor: pointer;
        position: fixed;
        left: 50%;
        bottom: 20px;
        background-color: rgb(216, 11, 79);
        outline: none;
        border-radius: 10px;
        border: 1px double lightyellow;
        transform: translateX(-50%);

      }
      .btnSwap:hover{
        background-color: peru;
      }

      .box2.active{
        display: none;
      }
      .box1.active{
        display: none;
      }

      .box2{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
    
      .content h1{
         background-image: linear-gradient(white,goldenRod);
         background-clip: text;
         color: transparent;
         font-size: 2vw;
         text-transform: uppercase;
         text-align: center;  
      }
     
      @media (min-width:344px) and (max-width:575px) {
      .content h1{
      text-align: center;
      font-size: 1rem;
      color: yellow;

  
    }

    .digitalClock {
        height: 200px;
        width: 300px;
        background-image:yellow;
        font-size: 3rem;
        color: yellow;
        
      }

      .analogClock {
        height: 250px;
        width: 250px;
        
      }
    
       body {
        height: 100vh;
        width: 100%;
      }

      .btnSwap{
        bottom: 30px;
      }

      .box1Bottom {
        margin-top: 30px;
      }
       .min {
        height: 80px;
      }

      .second {
        height: 90px;
      
      }

      .hr {
        height:75px;
      }
     input {
        color: greenyellow;
         padding: 10px 20px;
        font-size: 1.1rem;
      }
        
      }

      @media(min-width: 576px) and (max-width: 767px) { 
    .content h1{
      margin: auto;
      font-size: 2rem;
      width: 100%;
      color: yellow;

    }

    .digitalClock {
        height: 260px;
        width: 430px;
        border: 6px dotted yellow;
        color: yellow;
        
      }

       .analogClock{
         height: 280px;
        width: 280px;
        
      }
     
      .digitalClock{
        font-size: 3rem;
      }

       body {
        height: 100vh;
       
      }
  
       
     button.btnSwap{
        bottom: 50px;
        margin: auto;
      }

      .box1Bottom {
        margin-top: 50px;
      }
      .min {
        height: 80px;
      }

      .second {
        height: 90px;
      
      }

      .hr {
        height:75px;
      }
      input {
        color: greenyellow;
          padding: 10px 20px;
        font-size: 1.1rem;
      }

       }


@media (min-width:768px) and (max-width:991px) {
    body {
        height: 100vh;
    
      }
      .content h1{
        font-size: 2.5rem;
        margin-top: 40px;
        margin-right: 80px;
        text-align: center;
        color: yellow;
      }
       .digitalClock {
        height: 400px;
        width: 700px;
        border: 5px dotted goldenrod;
        font-size: 7rem;
        margin-top: 80px;
        background-image:yellow;
        color: yellow;
        
      }

      .box1Bottom input {
        margin-top: 50px;
        font-size: 2rem;
      }

         .btnBox {
        margin-top: 40px;
      }
      button {
        padding: 20px 50px;
        margin: 3px;
        font-size: 20px;
      }
      

      
      button:nth-child(1) {
        font-size: 40px;
        color: white;
      }

     

      button:nth-child(2) {
        font-size: 40px;
        color: white;
        
      }
 button.btnSwap{
        bottom: 20px;
        margin: auto;
      }
      input {
        color: greenyellow;
          padding: 10px 20px;
        font-size: 1.1rem;
      }
      
}

@media (min-width:992px) and (max-width:1199px){
    body {
        height: 90vh;
    
      }

      .content h1{
        font-size: 3rem;
        margin-top: 80px;
        text-align: center;
        color: yellow;
      }
       .digitalClock {
        height: 500px;
        width: 830px;
        border: 5px dotted goldenrod;
        font-size: 7rem;
        /* margin-top: 100px; */
        margin-bottom: 100px;
        background-image:yellow;
        color: yellow;
         
      }

      .box1Bottom input {
        /* margin-top: 50px; */
        font-size: 3rem;
        padding: 30px 10px;
        margin-top: 5px;
      }

         .btnBox {
        margin-top: 60px;
      }
      button {
        padding: 20px 50px;
        margin: 3px;
        font-size: 20px;
      }
      button:nth-child(1) {
        font-size: 40px;
        color: white;
      }
      button:nth-child(2) {
        font-size: 40px;
        color: white;
        
      }
       .btnSwap{
        font-size: 45px;
        color: white;
        margin-bottom: 0px;
      }

       .analogClock {
        border: 2px solid goldenrod;
        border-radius: 100%;
        height: 530px;
        width: 530px;
        position: absolute;
        /* right:0; */
       bottom: 160px;
        margin-left: 30px;
        background-image: url(https://png.pngtree.com/png-clipart/20220708/ourmid/pngtree-clock-face-no-hands-big-roboto-font-new-png-image_5781616.png);
        background-size: 100% 100%;
        position: relative;
        background-color: white;
      }
      input {
        color: greenyellow;
          padding: 10px 20px;
        font-size: 1.1rem;
      }
    
}
